<div class="blog-post">
  
  <h2 class="blog-post-title"><%= link_to blog.title, blog %></h2>
  
  <p class="blog-post-meta">Publicado hace <%= distance_of_time_in_words(blog.created_at, Time.now) %>.</p>
  

    <%= render partial: 'blog_action', locals: { blog: blog } if logged_in?(:site_admin)%>


  <p><%= markdown blog.body %></p>
  <p>
    <a href="#">Subir</a>
  </p>

</div>            
