<p id="notice"><%= notice %></p>

<h1>Artículos</h1>

<table>
  <thead>
    <tr>
      <th>Título</th>
      <th>Artículo</th>
      <th colspan="4"></th>
    </tr>
  </thead>
  <tbody>
    <%= render @blogs %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo artículo', new_blog_path %>
