<div class="blog-header">
  <div class="container">
    <h1 class="blog-title">Mi Blog</h1>
    <p class="lead blog-description">Ejemplo de Blog realizado en Ruby on Rails.</p>
    <%= link_to 'Escribir nuevo artículo del blog', new_blog_path if logged_in?(:site_admin)%>
  </div>
</div>