<div class="collapse bg-inverse" id="navbarHeader">
  <div class="container">
    <div class="row">

      <div class="col-sm-8 py-4">
        <h4 class="text-white">Portfolio</h4>
        <p class="text-muted">Aquí apareceran distintos trabajos realizados informando de que proyecto se trata y si interesa de con que tecnologías se han llevado a cabo. Va acompañado de fotografías una pequeña para el indice del portfolio y otra más grande para el detalle de los artículos.</p>
      </div>

      <div class="col-sm-4 py-4">
        <h4 class="text-white">Navega</h4>
        <ul class="list-unstyled">
          <%= nav_helper 'text-white', 'li' %> 
          <li><%= login_helper 'text-white' %></li>
        </ul>
      </div>

    </div>
  </div>
</div>

<div class="navbar navbar-inverse bg-inverse">
  <div class="container d-flex justify-content-between">
    <a href="<%= root_path %>" class="navbar-brand">jcctek.com</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</div>
<br>
