<h1>Ponte en contacto...</h1>
<p>(información no real excepto email)</p>

<br>

<div class="row">
  
  <div class="col-md-4 app-text">
  
    <h3>Dirección</h3>
    <p>201 Polk Ave,</p>
    <p>Cape Canaveral, FL 32920</p>
    <p>U.S.A.</p>

    <h3>Teléfono</h3>
    <p>(+1) 110 110 110</p>

    <h3>Correo electrónico</h3>
    <p><a href="mailto:jccalzadag@gmail.com?subject=Portfolio" "Email">jccalzadg@gmail.com</a></p>
  
  </div>

  <div class="col-md-8">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2188.409586247572!2d-80.60469980699851!3d28.384239595632586!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88e0a7b0bd9319b1%3A0xa3e02f59d4ab73aa!2s201+Polk+Ave%2C+Cape+Canaveral%2C+FL+32920%2C+EE.+UU.!5e1!3m2!1ses!2ses!4v1498414441726" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>

</div>