<h1>Artículos del blog:</h1>
<br>
<% @posts.each do |articulo| %>
  <h2><%= articulo.title %><h3>
  <h3><%= articulo.body %></h3>
  <br>
<% end %>


<hr />

<h1>Skills</h1>
<br>
<h2 class="sub">Lenguajes de programación:<h2>
<br>
<% @skills.each do |lenguaje| %>
  <h2><%= lenguaje.title %><h2>
  <h3>Tiempo empleado <%= lenguaje.percent_utilized %>%</h3>
  <br>
<% end %>