<div class="inner cover">
  <h1 class="cover-heading app-text">¡ Hola !</h1>
  <p class="lead app-text">Estas página son parte de las prácticas realizadas sobre todo en Ruby on Rails aunque incluyen también otros tipos de lenguajes de programación como javascript, jquery e incluyen también diseño web en html5 y css.</p>
  <p class="lead">
   <%= link_to "Más sobre mi", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>



